.gradient-position { 
    filter: blur(80px);
    position: fixed;
    left: 0;
    top: -20%;
    width: 100%;
    height: 50vh;
    mix-blend-mode: overlay;
    z-index: -1;
}

.gradient-position img { 
    left: -4%; 
    top: -4%;
    width: 1000px;
}

.gradient-position-bottom { 
    filter: blur(80px);
    position: fixed;
    right: 0;
    bottom: -20%;
    width: 50%;
    height: 50vh;
    mix-blend-mode: overlay;
    z-index: -1;
}

.gradient-position-bottom img { 
    right: -4%; 
    bottom: -4%;
    width: 1000px;
}