.bx-menu {
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 0.5rem;
  position: fixed;
  top: 3%;
  left: 1rem;
  z-index: 6;
  width: 45px;
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-custom-style {
  position: fixed;
  height: 120vh;
  background-image: linear-gradient(96deg, #03001c, #301e67);
  max-width: 100%;
  min-width: 100%;
  z-index: 6;
  word-wrap: break-word;
  left: -150%;
  transition: all 0.7s;
}

.navbar-show {
  left: 0;
  transition: all 0.7s;
}

.ul-position {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-inline: auto;
}

ul li {
  margin: 4rem 0;
  color: white;
  text-align: center;
  font-weight: 600;
}

ul li a {
  letter-spacing: 15px;
}

.hr-navbar {
  border-top: 1px solid white;
}

.bx {
  cursor: pointer;
}

.bx-x {
  position: absolute;
  margin-left: 2rem;
  right: 0;
  color: white !important;
  background-color: crimson;
  padding: 0.2rem 0.5rem;
}
